<header style="padding:15px 20px; border-bottom:1px solid #eee;">
  <div style="max-width:900px;margin:auto;display:flex;justify-content:space-between;align-items:center;">
    
    <a href="{{ '/' | relative_url }}" class="logo">
  <img src="{{ '/assets/img/logo_azul_sinfondo.png' | relative_url }}" alt="Via Consulting">
</a>

    <nav>
        <a href="{{ '/#services' | relative_url }}">Services</a>
        <a href="{{ '/network' | relative_url }}" style="margin-left:15px;">Our Network</a>
        <a href="{{ '/contact' | relative_url }}" style="margin-left:15px;">Contact</a>
    </nav>

  </div>
</header>